.App {

  background-image:url('https://image.freepik.com/free-vector/elegant-abstract-gold-background-with-shiny-elements_23-2148827899.jpg');
    text-align: center;
    height:900px;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
  
}



